body {
    font-family: "Montserrat", sans-serif;
        background: url(./images/background-hero.jpg) no-repeat center;

}

.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    color: #7d5436;
    font-size: 24px;
    transition: 0.3s color;
}

.navbar-brand:hover {
    color: #855e42;
}

.login-button {
    background-color: #855e42;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #855e42ed;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #000000cc;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link:focus {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: #855e42;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.hero-section {
    background-size: cover;
    width: 100%;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.card-header {
    color: #7d5436;
    font-weight: 700;
    font-size: 15pt;
}

.content-spacing {
  margin-top: 150px; /* atur bebas sesuai keinginan */
}